<article class="post" onclick="gotoPost('{{id}}')">
  <section class="title-container">
    <h3>{{title}}</h3>
    <div class="user-time">
      <p>{{user.username}}</p>
      <p>{{format_date createdAt}}</p>
    </div>
  </section>
  <section class="content-container">
    <p>{{content}}</p>
  </section> 
</article>
